{% extends 'main_application/base.html' %}

{% block title %}
Радактирование отчета
{% endblock %}


{% block content %}
<h5 class="text-center">
{{ report.name }}
</h5>
<div class="table-responsive">
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Наименование показателя/компонента</th>
      <th>Комментарий</th>
      <th>Поля ввода</th>

    </tr>
  </thead>
  <tbody>
<form method="POST">
        {% csrf_token %}
    {% for row in ListRows%}
      <tr>
        <td>  {{ forloop.counter }} </td>
      {% for col in row%}

        {% if col.items %}

          {% for key, value in col.items %}




            {% if key == 'Число'%}

            <td>  <input name='input-{{ forloop.parentloop.parentloop.counter }}' type="number" class="form-control" value="{{ value }}"  placeholder="Поля ввода"></td>

            {% endif %}

            {% if key == 'Текст' %}

              <td> <textarea name='input-{{ forloop.parentloop.parentloop.counter }}'class="form-control"  rows="3"> {{ value }}</textarea></td>
              {% endif %}

            {% endfor %}

            {% else %}





                <td style="width: 30%;">  {{ col }} </td>




          {% endif %}
      {% endfor %}
                </tr>

    {% endfor %}

  </tbody>
</table>
</div>
<div class="text-center" style="margin-bottom: 50px">
<button type='submit' class="btn btn-primary btn-lg">Отправить данные</button>
</div>
</form>

<h3 class="text-center"> Сообщение для помощи от отправителя:</h3>


<div class="alert alert-warning" role="alert" style="margin-bottom: 50px">
{{ report.message_help }} 12313
</div>

<h3 class="text-center"> Сообщение от отправителя:</h3>

<h6 class="text-muted"> Дата создания формы: {{ report.start_date }} </h6>
<h6 class="text-muted"> Обновлено: {{ report.update_time  }} </h6>

<div class="alert alert-primary" role="alert" style="margin-bottom: 50px">
{{ report.message }}
</div>


{% endblock %}
