{% extends 'main_application/base.html' %}

{% block title %}
Переименование организации
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="display-4 text-center pb-md-4"> Переименование организации</h1>
  <p> Изменение наименования <b>"{{ organisation.name }}"</b> на:  </p>
<form method='POST'>
  {% csrf_token %}
  <div class="row justify-content-md-center">
    <div class="col">
  <input type="text" name="NewName" placeholder="Новое название"
  class='form-control'>
</div>
    <div class="col col-lg-2">
<button type="submit" class="btn btn-success">Переименовать</button>
</div>
  </form>

</div>
{% endblock %}
