{% extends 'main_application/base.html' %}

{% block title %}
Радактирование отчета
{% endblock %}


{% block content %}
<div class="container mt-4 ">
    <p class="lead"> Отчет: "<b>{{report.name}}</b>"    ID: "<b>{{report.id}}</b>"  </p>
    <table class="table table-bordered mt-4">
        <tr>
            {%for name in namesTABLE%}
            <th scope="col">{{name}}</th>
            {% endfor %}
        </tr>
     
            {%for context in contextTABLE%}
            {% if not forloop.counter|divisibleby:report.columns %}<tr>{% endif %}
            <td> {{context}}</td>
            {% if  forloop.counter|divisibleby:report.columns %}</tr>{% endif %}
            {% endfor %}
            
    </table>
    <p class="h4"> Сообщение для для субъекта отчетности </p> <small class="text-muted"> Дата обновления отчета:
    {{report.update_time}}</small>
    <table class="table table-bordered mt-4">
    <th><p>{{ report.message }}</p></th>
    </table>
    <form method="POST">
        {% csrf_token %}
        <p> {{ form }} </p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success">Внести изменения</button>
        </div>
    </form>
</div>
{% endblock %}
