{% extends 'main_application/base.html' %}

{% block title %}
Новые очеты
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="display-4"> Новые отчеты</h1>
</div>
<div class="container mt-4">
  {% if list_reports %}
    <table class="table table-hover table-bordered mt-4">
        <tbody>
        <tr>
            <th class="text-center">id</th>

            <th class="text-center">Дата создания</th>

            <th class="text-center">Дата обновления</th>

            <th class="text-center">Название</th>

            <th class="text-center">Организация</th>

            <th class="text-center">Статус</th>

            <th class="text-center">Действие</th>
        </tr>
        {% for report in list_reports %}
        <tr>
            <th class="text-center">{{report.id}}</th>

            <td class="text-center">{{report.start_date}}</td>

            <td class="text-center">{{report.update_time}}</td>

            <td class="text-center">{{report.name}}</td>

            <td class="text-center">{{report.organisation}}</td>

            <td class="text-center">{{report.status}}</td>

            <td><a href="/edit/{{report.id}}">Редактировать</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% else %}
<div class="alert alert-warning" role="alert">
  На данный момент у вас отсутствуют отчеты
</div>

{% endif %}

</div>
{% endblock %}
