<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>{{ group.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'DataTables/site.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/jquery.dataTables.min.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/dataTables.buttons.min.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/jszip.min.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/buttons.html5.min.js.Без названия' %}"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                "bSort": false,
                bFilter: false,
                buttons: [{
                    extend: 'excelHtml5',
                    autoFilter: false,
                }]
            });
        });

    </script>
</head>
<body>
    <script type="text/javascript" src="{% static 'DataTables/site.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/dataTables.buttons.min.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/jszip.min.js.Без названия' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/buttons.html5.min.js.Без названия' %}"></script>
    <div class="text-center">
        <h1 class="display-4">Общий результат группы</h1>
    </div>
    <h5> <a href="{% url 'groups-page' %}">К списку групп ᐊᐊᐊ </a></h5>
    <div class="mt-4">
        <table id="example" class="table table-bordered mt-4" style="width: 100%;">
            <thead>
                <tr>
                    {% for part in TOP %}
                    <td>
                        {{ part }}
                    </td>
                    {% endfor %}
                </tr>
            </thead>

            {% for report in reports %}
            <tr>
                <td>{{ report.organisation  }}</td>


                {% for part in report.context %}

                <td> {{ part }}</td>

                {% if forloop.counter|divisibleby:report.columns %}  <tr> <td>   </td>{% endif %}
                  {% if forloop.last %}
                  {% for part in BOT %}
                  <td>

                  </td>
                  {% endfor %}

                  {% endif %}

                  {% endfor %}

                </tr>
            {% endfor %}

        </table>


    </div>
</body>

</html>
