{% extends 'main_application/base.html' %}

{% block title %}
Группы отчётов
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Отчёты группы '{{ group.name }}'</h1>
    </div>
    <table class="table table-hover table-bordered mt-4">

        <tr>
            <td class="text-center">id</td>

            <th class="text-center">Дата создания</th>

            <th class="text-center">Дата обновления</th>

            <th class="text-center">Наименование</th>

            <th class="text-center">Статус</th>

            <th class="text-center">Организация</th>

            <th class="text-center">Действия</th>
        </tr>
        <tbody>
            {% for report in reports %}
            <tr>
                <td class="text-center">{{report.id}}</td>

                <td class="text-center">{{report.start_date}}</td>

                <td class="text-center">{{report.update_time}}</td>

                <td class="text-center">{{report.name}}</td>

                <td class="text-center">{{report.status}}</td>

                <td class="text-center">{{report.organisation}}</td>

                <td class="text-center">
                  {% if report.status != 'Новый' %}

                    <a href="/change/{{ report.id }}">
                  <button type="button" class="btn btn-warning">Изменить данные</button>
  </a>
                  <a href="/check_report/{{ report.id }}">
                  <button type="button" class="btn btn-info">Изменить статус</button>
                  </a>
                  {% else %}
                  Пользователь ещё не открывал отчёт
                  
                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
